* {
    font-family: "Roboto", sans-serif;
}

html,
body,
#root,
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #030919;
    color: white;
}
