.navbar-container {
    width: 100%;
    align-items: center;
    height: 72px;
}
.navbar {
    display: flex;
    align-items: center;
    height: 72px;
    margin: 0 32px;
    border-bottom: 1px solid #ffffff1f;
}

.navbar h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-right: 48px;
}

.navbar .links > a {
    padding: 24px 0px;
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff99;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.navbar .links > a.active {
    color: #8dcafe;
    border-bottom: 2px solid #8dcafe;
}
